.css-1s2u09g-control{
    border: unset !important;
    border-bottom: solid 1px #CFCFCF !important;
    background-color: unset !important ;
    border-radius: 0 !important;
}
.css-1s2u09g-control{
    background-color: unset !important ;
    
}
.css-1pahdxg-control{
    background-color: unset !important ;
    box-shadow: unset !important;

}
.css-1pahdxg-control:hover{
    border-color: unset !important;
}