
  .react-tabs {
    display: flex;
    width:100%;
    color: white;
  }
  
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 312px;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .react-tabs__tab {
    height: 70px;
    list-style: none;
    padding: 12px 6px;
    cursor: pointer;
    color: #bbb;
    border-bottom: solid 1px #E2E2E2;
  }
  
  .react-tabs__tab-panel {
    display: none;
    width: 100%;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  
  .react-tabs__tab {
    padding-left: 24px;
  }
  
  .react-tabs__tab--selected {
    /* padding-left: 21px; */
    color: #000 !important;
    font-weight: bold;
    font-size: 16px;
  }
  
  .panel-content {
    text-align: center;
  }
  h2{
    color: red !important;
  }
:focus-visible {
    outline: unset !important;
}